.swiper {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.swiper-wrapper {
    display: flex;
    align-items: center; 
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out; 
}

.swiper-slide img {
    width: 220px; 
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.swiper-slide-active img {
    transform: scale(1.2);
}
