.swiper {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    text-align: center;
    padding: 10px;
}

.swiper-slide img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}